body {
    background-color: #75b79e;
}

#content_container {
    background-color: #5b5656;
    width: 50%;
    margin: auto;
    display: inline-block;
    padding-bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
}

#header {
    margin: auto;
    background-color: #4d4646;
    color: white;
    width: 90%;
    height: 70px;
    font-size: 60px;
    font-family: monospace;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#task_input {
    background-color: #ffffff;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 120px;
    width: 90%;
    margin-bottom: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#input_field {
    background-color: #ffffff;
    text-align: center;
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px;
}

#input_box {
    width: 60%;
    height: 50px;
    background-color: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #7fcd91;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    border-right: 0.2px solid #4d4646;
    transition: 0.3s;
}

#input_box:focus {
    border-bottom: 4px solid #2c786c;
    outline: none
}

#input_date {
    width: 40%;
    height: 52px;
    background-color: none;
    border: none;
    border-bottom: 2px solid #7fcd91;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    padding: 0;
    font-size: 15px;
    transition: 0.3s;
}

#input_date:focus {
    border-bottom: 4px solid #2c786c;
    outline: none;
}

#input_button {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: -50px;
    height: 40px;
    background-color: #ffffff;
    color: #2c786c;
    cursor: pointer;
    outline: none;
    border-bottom: 2px solid #7fcd91;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    border: 2px solid #75b79e;
    border-radius: 5px;
}

#input_button:hover {
    background-color: #75b79e;
    color: white;
}

#input_button:active {
    transform: translateY(4px);
}

#edit_task{
    width: 60%;
    margin-left: 20%;
    margin-top: -50px;
    height: 44px;
    background-color: #ffffff;
    color: #2c786c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #7fcd91;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    border: 2px solid #75b79e;
    border-radius: 5px;
}

#edit_box{
    width: 80%;
    height: 38px;
    background-color: none;
    margin-right: 20px;
    border: none;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

#edit_box:focus{
    outline: none;
}

.header {
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    background-color: #75b79e;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px #4d4646;
}

.container {
    float: left;
    margin-left: 5%;
    margin-bottom: 40px;
    background-color: #f5eaea;
    width: 90%;
}

.task_container {
    background-color: #fff;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.task_container:hover {
    box-shadow: -2px 2px #75b79e;
}

#task_data {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    margin-left: 10px;
}

#task_tool {
    display: inline-block;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task_done_button {
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#task_done_button:hover {
    background-color: #75b79e;
    color: white;
}

#task_done_button:active {
    transform: translateY(4px);
}

#task_edit_button {
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#task_edit_button_editing {
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #ffed83;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#task_edit_button:hover {
    background-color: #ffed83;
    color: white;
}

#task_edit_button:active {
    transform: translateY(4px);
}

#task_delete_button {
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#task_delete_button:hover {
    background-color: #fa163f;
    color: white;
}

#task_delete_button:active {
    transform: translateY(4px);
}

#task_title{
    background-color:#fff;
    font-family:monospace;
    font-weight:bold;
    font-size:15px;
    float: left;
    width:100%;
}

#task_date{
    background-color:#fff;
    font-family:monospace;
    color:grey;
    font-size:12px;
    float: left;
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
}

#footer{
    float: left;
    text-align: center;
    background-color: #797070;
    width: 100%;
    font-weight: bold;
    font-family: monospace;
    margin-top: 50px;
    color: white;
}

#footer a{
    color: white;
    font-family: monospace;
}
